<div class="control-container">
  <ejs-appbar colorMode="Primary">
    <button #defaultButtonMenu ejs-button cssClass="e-inherit" iconCss="e-icons e-menu"></button>
    <button #defaultButtonHome ejs-button cssClass="e-inherit">Home</button>
    <button #defaultButtonAbout ejs-button cssClass="e-inherit">About</button>
    <button #defaultButtonProducts routerLink="/products" ejs-button cssClass="e-inherit">Products</button>
    <button #defaultButtonContacts ejs-button cssClass="e-inherit">Contacts</button>
    <div class="e-appbar-spacer"></div>
    <div class="e-appbar-separator"></div>

    <ejs-menu *ngIf="isAuthenticated else notAuth" cssClass="e-inherit" [items]='profileMenu'></ejs-menu>
    <ng-template #notAuth>
      <button #defaultButtonLogin (click)="signIn()" ejs-button cssClass="e-inherit">Login</button>
    </ng-template>
  </ejs-appbar>
</div>
