<main role="main">
  <div class="mb-5 control-container">
    <ejs-carousel>
      <e-carousel-items>
        <e-carousel-item>
          <ng-template #template>
            <figure class="img-container">
              <img src="assets/images/bg_1.jpg" alt="" style="height:100%;width:100%;"/>
              <figcaption class="img-caption">Cardinal</figcaption>
            </figure>
          </ng-template>
        </e-carousel-item>
        <e-carousel-item>
          <ng-template #template>
            <figure class="img-container">
              <img src="assets/images/bg_2.jpg" alt="" style="height:100%;width:100%;"/>
              <figcaption class="img-caption">Kingfisher</figcaption>
            </figure>
          </ng-template>
        </e-carousel-item>
        <e-carousel-item>
          <ng-template #template>
            <figure class="img-container">
              <img src="assets/images/bg_3.jpg" alt="" style="height:100%;width:100%;"/>
              <figcaption class="img-caption">Keel-billed-toucan</figcaption>
            </figure>
          </ng-template>
        </e-carousel-item>
      </e-carousel-items>
    </ejs-carousel>
  </div>

  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="e-card">
        <div class="e-card-content">
          <div class="row">
            <div class="col-md-6"
                 style="background-image: url(assets/images/about.jpg);">
            </div>
            <div class="col-md-6">
              <div class="heading-section">
                <span class="subheading">About us</span>
                <h2 class="mb-4">Welcome to Carbook</h2>

                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
                  paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have
                  been rewritten a thousand times and everything that was left from its origin would be the word "and" and
                  the Little Blind Text should turn around and return to its own, safe country. A small river named Duden
                  flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in
                  which roasted parts of sentences fly into your mouth.</p>
                <p><a href="#" class="btn btn-primary py-3 px-4">Search Vehicle</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="col-md-12 heading-section text-center">
        <span class="subheading">What we offer</span>
        <h2 class="mb-2">Featured Vehicles</h2>
      </div>
    </div>
    <div class="owl-carousel owl-theme">
      <div class="e-card">
        <div class="e-card-image">
          <div class="e-card-title">Audi A4</div>
          <img src="assets/images/car-1.jpg" alt="Sample"/>
        </div>
        <div class="e-card-content">
          JavaScript Succinctly was written to give readers an accurate, concise examination of JavaScript objects and
          their supporting nuances, such as complex values, primitive values, scope, inheritance, the head object, and
          more.
        </div>
        <div class="d-flex justify-content-end">
          <h6 class="text-primary">500.000đ</h6>
        </div>
        <div class="e-card-actions d-flex justify-content-end">
          <button class="e-card-btn">View Detail</button>
          <button class="e-card-btn">Book Now</button>
        </div>
      </div>
      <div class="e-card">
        <div class="e-card-image">
          <div class="e-card-title">Audi A4</div>
          <img src="assets/images/car-1.jpg" alt="Sample"/>
        </div>
        <div class="e-card-content">
          JavaScript Succinctly was written to give readers an accurate, concise examination of JavaScript objects and
          their supporting nuances, such as complex values, primitive values, scope, inheritance, the head object, and
          more.
        </div>
        <div class="d-flex justify-content-end">
          <h6 class="text-primary">500.000đ</h6>
        </div>
        <div class="e-card-actions d-flex justify-content-end">
          <button class="e-card-btn">View Detail</button>
          <button class="e-card-btn">Book Now</button>
        </div>
      </div>
      <div class="e-card">
        <div class="e-card-image">
          <div class="e-card-title">Audi A4</div>
          <img src="assets/images/car-1.jpg" alt="Sample"/>
        </div>
        <div class="e-card-content">
          JavaScript Succinctly was written to give readers an accurate, concise examination of JavaScript objects and
          their supporting nuances, such as complex values, primitive values, scope, inheritance, the head object, and
          more.
        </div>
        <div class="d-flex justify-content-end">
          <h6 class="text-primary">500.000đ</h6>
        </div>
        <div class="e-card-actions d-flex justify-content-end">
          <button class="e-card-btn">View Detail</button>
          <button class="e-card-btn">Book Now</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="col-md-12 heading-section text-center mb-5">
        <span class="subheading">SERVICES</span>
        <h2 class="mb-2">Our Latest Services</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="row">
        <div class="col-md-3">
          <div class="services services-2 w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wedding-car"></span></div>
            <div class="text w-100">
              <h3 class="heading mb-2">Wedding Ceremony</h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="services services-2 w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
            <div class="text w-100">
              <h3 class="heading mb-2">City Transfer</h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="services services-2 w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car"></span></div>
            <div class="text w-100">
              <h3 class="heading mb-2">Airport Transfer</h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="services services-2 w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
            <div class="text w-100">
              <h3 class="heading mb-2">Whole City Tour</h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="col-md-12 heading-section text-center mb-5">
        <span class="subheading">TESTIMONIAL</span>
        <h2 class="mb-2">Happy Clients</h2>
      </div>
    </div>
    <div class="owl-carousel owl-theme">
      <div tabindex="0" class="e-card e-card-horizontal">
        <div class="e-card-image">
          <img src="assets/images/person_1.jpg" alt="Sample">
        </div>
        <div class="e-card-stacked">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">Philips Trimmer</div>
            </div>
          </div>
          <div class="e-card-content">
            Powered by the innovative DuraPower Technology which optimizes power consumption, Philips trimmers are designed to last longer
            than 4 ordinary trimmers.
          </div>
        </div>
      </div>
      <div tabindex="0" class="e-card e-card-horizontal">
        <div class="e-card-image">
          <img src="assets/images/person_2.jpg" alt="Sample">
        </div>
        <div class="e-card-stacked">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">Philips Trimmer</div>
            </div>
          </div>
          <div class="e-card-content">
            Powered by the innovative DuraPower Technology which optimizes power consumption, Philips trimmers are designed to last longer
            than 4 ordinary trimmers.
          </div>
        </div>
      </div>
      <div tabindex="0" class="e-card e-card-horizontal">
        <div class="e-card-image">
          <img src="assets/images/person_3.jpg" alt="Sample">
        </div>
        <div class="e-card-stacked">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">Philips Trimmer</div>
            </div>
          </div>
          <div class="e-card-content">
            Powered by the innovative DuraPower Technology which optimizes power consumption, Philips trimmers are designed to last longer
            than 4 ordinary trimmers.
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
