<div class="e-card">
  <div class="e-card-image">
    <div class="e-card-title">Audi A4</div>
    <img [src]="car.image" alt="Sample"/>
  </div>
  <div class="e-card-content">
    {{car.brand}}
  </div>
  <div class="e-card-content">
    {{car.carType}}
  </div>
  <div class="e-card-content">
    {{car.description}}
  </div>
  <div class="d-flex justify-content-end">
    <h6 class="text-primary">{{car.price | vndCurrency}}</h6>
  </div>
  <div class="e-card-actions d-flex justify-content-end">
    <button class="e-card-btn" [routerLink]="'/products/' + car.id" >View Detail</button>
    <button class="e-card-btn">Book Now</button>
  </div>
</div>
